body {
  background-color:rgb(255, 239, 233);
  background-image: 
  url(../images/blob.png), 
  url(../images/blob2.png), 
  url(../images/blob3.png),
  url(../images/blob4.png),
  url(../images/blob5.png),
  url(../images/blob6.png);
  background-repeat: no-repeat;
  background-position:  
  top -100px right -0px,
  bottom -450px left 10px,
  bottom 90px right 10px,
  top 100px left -100px,
  bottom -800px left -20px,
  bottom -1000px left 850px;
  max-width: 100%
  }
  
  
  
  
  /* TITLE BAR */
  a {
    text-decoration: none;
    color: black;
  }
  .heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .container {
    position: relative;
    background-color: #EFEFF1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0px 10% ;
    height: auto;
    box-shadow: 5px 5px 20px rgb(122, 122, 122);
    margin-top: 20px;
  
  
  }
  .outer {
    position: relative;
    width: 850px;
    height: 500px;
    margin: 20px auto;
    background-color: #233A77;
    border: 5px solid #E5E5E5;
  }
  .outer img{
    position:absolute;
    top: -5px
  
  }
  
  
  /* Container for columns and the top "toolbar" */
  .row {
    padding: 0px;
    background: #A9C3DE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  
  }
  
  h1 {
    font-family: 'Nanum Gothic Coding', monospace;
      font-size: 20px;
      text-align: center;
      margin-left: 12px;
      color: black;
  
  }
  
  .dot {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 12px;
  
  
  
  }
  
  
  /* TOP NAV */
  .bean {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0%;
    width: 60%;
    transform: scale(0.9);
    max-width: 100%;
    height: auto
  
  }
  #navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 1%;
  
  }
  
  #navigation {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
  
  
    /* SIDEBAR */
    .icon-bar {
      position: fixed;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  
    /* Style the icon bar links */
    .icon-bar  {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
  
    
    }
  
  
   /* HERO IMAGE */
  
   .centered {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    color:white;
  }
  
  .centered p {
    border-right: .10em solid orange;
    white-space: nowrap;
    overflow: hidden;
    margin: -3px;
    text-align: center;
    font-family:'Gaegu', cursive;
    font-size: 45px;
    white-space: nowrap;

  }
  .flip-card {
    width: 370px;
    height:450px;;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height:100%;

    transition: transform 0.6s;
    transform-style: preserve-3d;


  }
  
  .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);


  }

  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 370px;
    height:450px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }



  .text-block  {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    text-align: left;


  }
  .text-block img {
    margin: 15px;
    margin-left: 3px

  
  }
  .text-block h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: left;
    margin: 0px
  }

  .text-block h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0px;
    font-weight: 400;

  }
  .flip-card-front{
    background-color: white;

  }
  .flip-card-front img{
    margin-left:10px;
    margin-top: 10px;
  

  }
  .flip-card-back {
    background-color: white;
    color:black;
    transform: rotateY(180deg);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 27px;



  }
  .portrait {
    position: relative;
    top: 0%;
    left: 50%
  }
  
  
  .portrait .pantoon{
    position: absolute;
    top: -2.5%;
    left: -2.5%
  }
  .portrait .text-block{
    position: absolute;
    left: 2%;
    top: 80%
  
  }
  .centered p {
    width: 6.0em;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  
  
  .blackwhite {
    position: relative;
    z-index:1;
    transform: scale(1);
    margin-top: 2%;
    left: 10%
  
  }
  
  .featured {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: space-evenly;
    z-index:1;
    margin: 50px auto;

  
  
  }
 
  
  
  /* Bottom right text */
  h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    line-height: 10px;
    margin-top: 45px;
    
  
  }
  
  .bio {
    position: absolute;
    color:black;
    padding-left: -10px;
    padding-right: 15px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin-top: -25px;
  
  }
  

  .show{
    position: relative;
    width: 127px;
    height: 40px;
    top: 0px;
    background-color: linear-gradient(180deg, rgba(236, 236, 236, 0.6) 51.72%, rgba(91, 91, 91, 0) 148.28%);
    border: 1.5px solid #86CDF4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family:'Nanum Gothic Coding', monospace;
    letter-spacing: 2px;
    cursor: pointer;
    
  
  }
    
  .bio button:hover{
    background-color: rgb(189, 189, 189);
    border: 1.5px solid rgb(108, 195, 241);
  }

.bio {
  position: absolute;
  top: -5%;
  left: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #ED594A ;
  color: #fff;
  cursor: pointer;
  border: 0;
}



  /* Bottom right text */
  h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
    font-weight: 400
  }
  
  .bio p{
    margin-top: 10%
  }


   .bubble1 {
      position: absolute;
      top: 400px;
      left: 200px;
    
      animation: scale 10s infinite;
  
   }
   .bubble2 {
      position: absolute;
      top: 120px;
      left: 350px;
      animation: scale 10s infinite;
   }
  
   .bubble3 {
      position: absolute;
      top: 150px;
      left: 700px;
      animation: scale 5s infinite;
   }
   .fish1 {
    position: absolute;
    top: 350px;
    left: 800px;
    animation: scale 5s infinite;
 }
   .fish2 {
      position: absolute;
      top: 120px;
      left: 150px;
      animation: bounceArrow 2s infinite;;
   }
  
  
    /* FOOTER ITEMS */

  
   .blackwhite:hover {
    transform: scale(1.02,1.02);
   }
  
   .paletteOverlay{ 
     opacity: 0;
     font-family: 'Nanum Gothic Coding', monospace;
     position: relative;
     top: -40px;
     left: 300px;
     font-size: 20px;
  
  
   }
   .blackwhite:hover .paletteOverlay {
     opacity: 1
   }
  
   /* SIDE BAR HOVERS*/
   
  .instagram:hover {
      background-image: url(../images/color\ instagram.png) ;
      transform: scale(1.1,1.1);
      background-repeat: no-repeat;
  }
  .behance:hover {
      background-image: url(../images/color\ behance.png);
      transform: scale(1.1,1.1) ;
      background-repeat: no-repeat;
  }
  .linkedin:hover {
      background-image:url(../images/color\ linkedin.png);
      transform: scale(1.1,1.1);
      background-repeat: no-repeat;
  }
  .mail:hover {
      background-image: url(../images/color\ mail.png);
      transform: scale(1.1,1.1);
      background-repeat: no-repeat;
  }
  
  
  /* TEXT OVERLAYS */
  
  .overlay {
    position: relative;
      opacity:0;
      width: 50%;
      top: -30px;
      left: 55px;
      color:black;
      font-size: 12px;
      padding: 0px;
      margin:3%;
      text-align: center;
      font-family: 'Nanum Gothic Coding', monospace;
      white-space: nowrap;
    }
  
    .instagram {
      position: relative;
      width: 50px;
      max-width: 50px;
    }
  
    .instagram:hover .overlay {
      opacity: 1;
    }
    .behance {
      position: relative;
      width: 50px;
      max-width: 50px;
    }
    .behance:hover .overlay {
      opacity: 1;
    }
    .linkedin {
      position: relative;
      width: 50px;
      max-width: 50px;
    }
    .linkedin:hover .overlay {
      opacity: 1;
    }
  
    .mail {
      position: relative;
      width: 50px;
      max-width: 50px;
    }
    .mail:hover .overlay {
      opacity: 1;
    }
  
  
  
   /* FEATURED HOVERS*/
  .oxfam img:hover {
    transform: rotate(-2deg);
  }
  .highlanders img:hover {
    transform: rotate(2deg)
  }
  .me img:hover {
    transform: rotate(-2deg);
  }
  
   /* TOP BAR HOVERS*/
  
  .bean:hover {
      animation: bounceArrow 0.7s infinite;
  }
  
  /*ANIMATIONS*/
  
  @keyframes bounceArrow {
      from {
          margin-top: 0px;
  
        }
        50% {
          margin-top: 4px;
  
        }
        to {
          margin-top: 0px;
  
        }
  }
  
  @keyframes scale {
      from {
          transform: scale(1.5px)
       }
        50% {
          transform: scale(2px);
        }
        to {
            transform: scale(1px);
        }
  
  }
 
  